@{

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Active",
        Value = "Active"
    });
    listItems.Add(new SelectListItem
    {
        Text = "InActive",
        Value = "InActive",
    });

}


<script>
    $(document).ready(function () {

         $("#PageHeader").html("Edit");

        $('#cancel').click(function () {
            window.location.href = '@Url.Action("Index", "AspNetSession")';
        });

        var start = $("#start").val();
        var date = start.split(' ');
        var startdate = date[0].split('/');
        if (startdate[0].length == 1) {
            startdate[0] = "0" + startdate[0];
        }
        if (startdate[1].length == 1) {
            startdate[1] = "0" + startdate[1];
        }
        Starting = startdate[2] + "-" + startdate[0] + "-" + startdate[1];
        $("#SessionStartDate").val(Starting);
        $("#SessionStartDate").prop('type', 'date');

        var end = $("#end").val();
        var Date = end.split(' ');
        var enddate = Date[0].split('/');
        if (enddate[0].length == 1) {
            enddate[0] = "0" + enddate[0];
        }
        if (enddate[1].length == 1) {
            enddate[1] = "0" + enddate[1];
        }
        Starting = enddate[2] + "-" + enddate[0] + "-" + enddate[1];
        $("#SessionEndDate").val(Starting);
        $("#SessionEndDate").prop('type', 'date');

        var status = $("#STATUS").val();
        $('#Status option[value="' + status + '"]').prop('selected', true);

    });


</script>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body p-5">


                @model SEA_Application.Models.AspNetSession
                @{
                    ViewBag.Title = "Edit";
                }


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="col-md-8 pl-5 pr-5 ">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Id)




                        <div class="form-group bmd-form-group is-filled">

                            <label class="bmd-label-floating">Session Name<span class="red-mark">*</span></label>
                            @Html.EditorFor(model => model.SessionName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SessionName, "", new { @class = "text-danger" })

                        </div>


                        @*<div class="form-group">
                                <label class="control-label col-md-1 col-lg-1">Session Start Date<span class="red-mark">*</span></label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SessionStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <input type="hidden" value="@Model.SessionStartDate" id="start" />
                                    @Html.ValidationMessageFor(model => model.SessionStartDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@


                        <div class="form-row mt-4">
                            <div class="form-group col-md-12 bmd-form-group">

                                <label class="bmd-label-static pl-2">Session Start Date<span class="red-mark">*</span></label>

                                @Html.EditorFor(model => model.SessionStartDate, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SessionStartDate, "", new { @class = "text-danger" })
                                <input type="hidden" value="@Model.SessionStartDate" id="start" />

                            </div>
                        </div>


                        @*<div class="form-group">
                                <label class="control-label col-md-1 col-lg-1">Session End Date<span class="red-mark">*</span></label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.SessionEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                    <input type="hidden" value="@Model.SessionEndDate" id="end" />
                                    @Html.ValidationMessageFor(model => model.SessionEndDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-row mt-4">
                            <div class="form-group col-md-12 bmd-form-group">

                                <label class="bmd-label-static pl-2">Session End Date<span class="red-mark">*</span></label>

                                @Html.EditorFor(model => model.SessionEndDate, new { htmlAttributes = new { @class = "form-control" } })
                                <input type="hidden" value="@Model.SessionEndDate" id="end" />
                                @Html.ValidationMessageFor(model => model.SessionEndDate, "", new { @class = "text-danger" })

                            </div>
                        </div>



                        @*<div class="form-group">
                                <label class="control-label col-md-1 col-lg-1">Total Fee<span class="red-mark">*</span></label>
                                <div class="col-md-6">
                                    @Html.EditorFor(model => model.Total_Fee, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                                    <input type="hidden" value="@Model.Total_Fee" id="fee" />
                                    @Html.ValidationMessageFor(model => model.Total_Fee, "", new { @class = "text-danger" })
                                </div>
                            </div>*@

                        <div class="form-group bmd-form-group is-filled">

                            <label class="bmd-label-floating">Total Fee: <span class="red-mark">*</span></label>

                            @Html.EditorFor(model => model.Total_Fee, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                            <input type="hidden" value="@Model.Total_Fee" id="fee" />
                            @Html.ValidationMessageFor(model => model.Total_Fee, "", new { @class = "text-danger" })

                        </div>


                    </div>

                    <br>

                    <div class="col-md-8 pl-5 pr-5 ">

                        <input type="submit" id="submit" value="Update" class="btn btn-primary rounded rounded-lg" />
                        <button type="button" id="cancel" class="btn btn-primary rounded rounded-lg bg-transparent text-muted shadow-none mr-3">Cancel</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

