@model IEnumerable<SEA_Application.Models.CashReceipt>

@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

else if (User.IsInRole("Receptionist"))
{
    Layout = "~/Views/Shared/_ReceptionistDashboardLayout.cshtml";

}
else if (User.IsInRole("BakeryAdmin"))
{
    Layout = "~/Views/Shared/_BakeryAdminDashboardLayout.cshtml";
}
else
{
    Layout = null;
}
<style>
    .numberColumn {
        text-align: center !important;
    }

    #datatable_filter {
        display: block !important;
    }

    body {
        font-family: 'Varela Round', sans-serif;
    }

    .modal-confirm {
        color: #636363;
        width: 400px;
        margin: 30px auto;
    }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
            text-align: center;
            font-size: 14px;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -10px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -2px;
        }

        .modal-confirm .modal-body {
            color: #999;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
         
            margin-right :23px;
        }

            .modal-confirm .modal-footer a {
                color: #999;
            }

        .modal-confirm .icon-box {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 50%;
            z-index: 9;
            text-align: center;
            border: 3px solid #f15e5e;
        }

            .modal-confirm .icon-box i {
                color: #f15e5e;
                font-size: 46px;
                display: inline-block;
                margin-top: 13px;
            }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #60c7c1;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            min-width: 120px;
            border: none;
            min-height: 40px;
            border-radius: 3px;
            margin: 0 5px;
            outline: none !important;
        }

        .modal-confirm .btn-info {
            background: #c1c1c1;
        }

            .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                background: #a8a8a8;
            }

        .modal-confirm .btn-danger {
            background: #f15e5e;
        }

            .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
                background: #ee3535;
            }

    .trigger-btn {
        display: inline-block;
        margin: 100px auto;
    }
</style>

<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<div class="card">
    <div class="card-body p-4">
        <table class="table hover table-bordered table-striped" id="datatable">
            <thead>
                <tr>
                    <th class="hidden">
                        Id
                    </th>
                    <th style="text-align:center">
                        Receipt #
                    </th>
                    @*<th>
                            Session
                        </th>
                        <th>
                            Course
                        </th>*@
                    <th>
                        Roll No
                    </th>
                    <th>
                        Received From
                    </th>
                    @*<th>
                            Description
                        </th>*@
                    <th>
                        Amount
                    </th>
                    <th>
                        Discount
                    </th>
                    <th>
                        Dated
                    </th>
                    <th>
                        Due Date
                    </th>
                    <th>
                        Action
                    </th>

                    @*<th>Action</th>*@
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td class="hidden">
                            @item.Id

                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(modelItem => item.ReceiptNo)
                            <input type="hidden" value="@item.Id" />
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.AspNetSession.SessionName)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Course)
                            </td>*@
                        <td>
                            @if (item.UserId != null)
                            {
                                <span>@item.AspNetUser.UserName</span>
                            }

                        </td>

                        <td>

                            @if (item.ReceivedFrom != null)
                            {
                                @Html.DisplayFor(modelItem => item.ReceivedFrom)

                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.AspNetUser.Name)

                            }


                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>*@
                        <td style="text-align:center !important">

                            @if (item.Amount != null)
                            {


                                <span>  @item.Amount.Value.ToString("#,##0") </span>
                            }

                        </td>


                        <td style="text-align:center !important">

                            @if (item.Discount != null)
                            {
                                <span>  @item.Discount.Value.ToString("#,##0") </span>
                            }

                        </td>
                        <td>
                            @item.Dated.Value.ToString(string.Format("dd/MM/yyyy"))
                        </td>

                        <td>
                            @if (item.DueDate != null)
                            {
                                @item.DueDate.Value.ToString(string.Format("dd/MM/yyyy"))

                            }
                        </td>

                        <td>
                            <button style='color:white !important' href="#myModal" onclick='setID(@item.Id)' data-toggle="modal" class='btn btn-sm btn-danger'>  <i style='color:white !important' class="fa fa-trash" aria-hidden="true"></i></button>
                            @*onclick='deleteReceipt(@item.Id)'*@                            
                            <button style='color:white !important' onclick='printReceipt(@item.Id)' class='btn btn-sm btn-primary'>    <i style='color:white !important' class="fa fa-print" aria-hidden="true"></i></button>

                            @*<input onclick='deleteReceipt(@item.Id)' style='color:white !important' class='btn btn-sm btn-danger' type='button' value='Delete' />*@
                            @*<input onclick='printReceipt(@item.Id)' style='color:white !important' class='btn btn-sm btn-primary' type='button' value='Print' />*@

                        </td>


                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>

<!--<div class="text-center">-->
    <!-- Button HTML (to Trigger Modal) -->
    <!--<a href="#myModal" class="trigger-btn" data-toggle="modal">Click to Open Confirm Modal</a>
</div>-->

<!-- Modal HTML -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>
               
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

                <h3 style="font-weight:bold; color :black">Are you sure?</h3>
                <p>Do you really want to delete the receipt? This process cannot be undone.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"  data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger deleteButton" onclick="deleteReceipt()" >Delete</button>
            </div>
        </div>
    </div>
</div>


<div id="RecipetErrorModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="icon-box">
                    <i class="material-icons">&#xE5CD;</i>
                </div>

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" id="ReceiptErrorBody">

             
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" style="margin-right:80px">Cancel</button>
               
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $("#PageHeader").html("Cash Receipts");


        var table = $('#datatable').dataTable({
            buttons: [

                {
                    text: '<span class="datatableButtonsEdit"> <img src="/Content/assets/assets/icons/Icon-edit.png" alt=""> Create</span>',
                    action: function (e, dt, button, config) {
                        window.location.href = '/Receipts/Create';
                    }
                }

            ],
            order: [[0, 'desc']],
            columnDefs: [{

                targets: [3], className: 'numberColumn'

            },
            {

                targets: [0], className: 'numberColumn', width: 120

            },
            {

                targets: [2]

            },
            {

                targets: [1], width: 120

            },
            {

                targets: [4], className: 'numberColumn'

            }

            ],

            "language": {
                "lengthMenu": "<div class=\"d-flex showEntriesCon\">\n" +
                    "  <div class=\"p-2\">Show </div> <div class=\"showEntries\"> _MENU_\n" +
                    "  </div>\n" +
                    "  </div>",
                "info": "<div class='showingEntriesOfTotal'>Showing <span class=\"text-info\">_START_ to _END_</span> of _TOTAL_ entries</div>",
                "paginate": {
                    "first": "Firstt",
                    "last": "Lastt",
                    "next": ' <img src="~/Content/assets/assets/icons/Arrow2.png" alt=""> ',
                    "previous": ' <img src="~/Content/assets/assets/icons/Arrow1.png" alt=""> '
                }
            },
            "searching": true,
            // dom: '<"class">Blfrtip',
            dom: "<'row mb-3'<'col-sm-12 col-md-2 col-lg-2'l><'col-sm-12 col-md-10 col-lg-10 datatableButtonsCon text-right'Bf>>" +
                "<'row'<'col-sm-12 datatablesData'tr>>" +
                "<'row mt-4'<'col-sm-12 col-md-4 col-lg-6 infoCon'i><'col-sm-12 col-md-8 col-lg-6 pagCon'p>>"

        });

        //var AllTds = $("td:nth-child(3)");

        // for (var i = 0; i < AllTds.length; i++) {

        //    var CommaSeparatedValue = numberWithCommas(AllTds[i].innerHTML);

        //    AllTds[i].innerHTML = CommaSeparatedValue;
        //}



        $('#datatable').on('click', 'tbody tr td:nth-child(1),td:nth-child(2),td:nth-child(3),td:nth-child(4),td:nth-child(5),td:nth-child(6)', function () {
            var td = $(this).parent().children("td");
            var InventoryID = $(td[0]).children("input").val();

            // alert(InventoryID)
            var Id = parseInt(InventoryID);

            // alert(Id);
            //  window.location.href = "/Receipts/Edit?id=" + Id;
        });



        //$('.table').on('click', 'tbody tr', function () {
        //    var td = $(this).children("td");
        //    var Id = $(td[0]).children("input").val();
        //    Id = Id.trim();

        //    window.location.href = "/Suppliers/Edit?id=" + Id;
        //});


    })
    function setID(id) {

      var button =   document.getElementsByClassName("deleteButton")[0];

        button.id = id;
    }
    function deleteReceipt() {

       
        var button = document.getElementsByClassName("deleteButton")[0];
       // alert(button.id);
     //   window.location.href = "/Receipts/DeleteReceipt?id=" + button.id;
       
        $.ajax({
            type: "post",
            url: "/Receipts/DeleteReceipt",
            data: { id: button.id },
            success: function (msg) {

                if (msg == "Deleted") {

                    window.location.href = "/Receipts/Index";

                } else {
                    $('#myModal').modal('toggle');

                    $("#RecipetErrorModal").modal('toggle');

                    $("#ReceiptErrorBody").html("<p>"+msg+"</p>");


                    //alert(msg);

                }
             

                console.log(msg);
            },
            error: function (msg) {

                console.log(msg)
            }
        })
    }

    function numberWithCommas(x) {
        debugger
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function printReceipt(id) {

        window.location.href = "/Receipts/PrintReceipt?id=" + id;

    }
</script>