@model SEA_Application.Models.CashReceipt
@if (User.IsInRole("Admin"))
{
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

else if (User.IsInRole("Receptionist"))
{
    Layout = "~/Views/Shared/_ReceptionistDashboardLayout.cshtml";

}
else
{
    Layout = null;

}

<style type="text/css">
    .container {
        padding: 20px;
        width: 700px;
     border: 2px solid gray;
        border-radius: 5px;
        font-family:Arial;
    }

    #heading {
        margin: 0;
    }

    #headingpara {
        margin: 0;
    }
    .customfont {
        font-family: 'Brush Script MT', cursive;
    }
</style>


<div class="card">
    <div class="card-body p-4">

        <span style="float:left"></span>
        <input style="float:right" class="btn btn-primary hidden" type='button' id='btn' value='Print' onclick='printDiv();'>
        <div style="clear:both"></div>
        <br />
        <div id="PrintDiv" style="display:none">

            <div class="container">

                <br>
                <center>

                    <h2 id="heading">OFFICERS ACADEMY</h2>
                    <p id="headingpara">Main Road Garden Town, Lahore. Tel: 35830550, 0321-1333358</p>

                    <br>

                    <h4 style="text-decoration: underline;margin: 0;"><b>Receipt Voucher</b></h4>
                </center>

                <br>


                <div class="customfont">
                    <b>
                        &nbsp; Receipt No:
                    </b>
                        @if (Model.ReceiptNo != null)
                        {
                            <u>@Model.ReceiptNo</u>
                        }
                        else
                        {
                            <span>____________</span>
                        }

                  
                </div>
                <br>

                @*<div style="float:left" class="customfont">
                    <b>
                        Course:
                    </b>
                        @if (Model.Course != null)
                        {
                            <u>@Model.Course</u>
                        }
                        else
                        {
                            <span>____________</span>
                        }

                   
                </div>


                <div style="float: right;" class="customfont">
                    <b>
                        Session:
                    </b>

                        @if (Model.AspNetSession != null)
                        {
                            <u>@Model.AspNetSession.SessionName</u>
                        }
                        else
                        {
                            <span>____________</span>
                        }
                   
                </div>


                <div style="clear: both;">

                </div>*@
                <!--
    <p><b>Received with thanks from </b></p>
    <p><b>Rupees </b></p>
    -->
                <br>

                <table width="100%" id="secondtable">

                    <tr class="customfont">
                        <td width="240" valign="top"><b>Received with thanks from</b></td>
                        <td>
                            @if (Model.ReceivedFrom != null)
                            {


                                <u>@Model.ReceivedFrom</u>
                            }
                            else
                            {
                                <span>____________________</span>
                            }


                        </td>
                    </tr>

                    <tr class="customfont">
                        <td><b>Rupees</b></td>
                        <td>


                            @if (Model.Amount != null)
                            {


                                <u id="Amount2">  @Model.Amount.Value.ToString("#,##0")</u>
                            }
                            else
                            {
                                <span>____________________</span>
                            }


                        </td>

                    </tr>


                    <tr class="customfont">
                        <td><b>On account of</b></td>
                        <td> <span>____________________</span></td>

                    </tr>

                </table>

                <br>

                <table width="100%">

                    <tr>
                        <td class="customfont"><b>Rs:</b></td>
                        <td class="customfont" width="200">




                            @if (Model.Amount != null)
                            {


                                <u id="Amount1">  @Model.Amount.Value.ToString("#,##0") </u>
                            }
                            else
                            {
                                <span>____________</span>
                            }

                        </td>

                        <td class="customfont"><b>Dated:</b></td>
                        <td class="customfont" width="210"><u>@Model.Dated.Value.ToString(string.Format("dd/MM/yyyy"))</u></td>


                        <td></td>
                        <td align="center">
                            <br>
                            __________________
                            <br>
                            Signature

                        </td>

                    </tr>


                </table>

            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {


        $("#PageHeader").html("Cash Receipt");
        $("#btn").click();

   

    })

    function printDiv() {

        var divToPrint = document.getElementById('PrintDiv');

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><style>  #secondtable tr td {padding-bottom:5px;} .container {   font-family:Arial; padding: 20px; width: 700px; border: 2px solid gray;border - radius: 5px;}#heading {margin: 0;} #headingpara {margin: 0;}  .customfont {font-family: arial; font-style: italic;}  </style><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');

        newWin.document.close();

        setTimeout(function () { newWin.close(); window.location.href = "/Receipts/Index"; }, 10);

     
    

    }
    function numberWithCommas(x) {
        debugger
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
</script>


